<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>FAST PIZZA </title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"/>

</head>
<body>

<form th:action="@{/notify}" method="post">
    <div><label> Order : <input type="text" name="username"/> </label></div>
    <div><label> Status: <input type="password" name="password"/> </label></div>
    <div><input type="submit" value="Notify"/></div>

</form>
</body>
</html>